body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

p{
    margin: 20px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 80%; /* Container width */
    overflow: hidden; /* Hide the overflow to prevent horizontal scrolling on the page */
}


.image-container {
    display: flex;
    justify-content: start; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 20px;
    height: 300px; /* Adjust the height based on the image size */
}

.image-container img {
    width: 300px; /* Adjust size as needed */
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.image-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
}








/* Image styling
 det her gør at billede er i midten.
*/
a {
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
